<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-size: 10px;
        }

        .pdf-info {
            margin: 0 auto;
            margin-top: 50px;
            padding: 10px;
            width: 95vw;
            border-radius: 5px;
            border: 1px solid black;
            background: #fff;
        }

        td,
        th {
            border: inherit;
        }

        .mrg {
            margin-left: 50px;
        }

        .large {
            font-size: 10px;
            font-weight: 700;
        }

        .mrg-bot {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="pdf-short">
        <div class="pdf-info">
            <h1 class="mrg-bot">Property details</h1>
            <p><span class="large">Locations address: </span>{{ a_property.location_address }}</p>
            <p><span class="large">Mailing address: </span>{{ a_property.mailing_address1 }}, {{
                a_property.mailing_address2 }}</p>
            <p><span class="large">Municipality: </span>{{ a_property.municipality }}</p>
            <p><span class="large">Parcel control number: </span>{{ a_property.parcel }}</p>
            <p><span class="large">Legal description: </span>{{ a_property.legal_description }}</p>
            <p><span class="large">Use code:</span> {{ a_property.use_code }}</p>

            <hr>

            <h1 class="mrg-bot">Buildings details</h1>
            <ol class="buildings">
                {% for building in a_property.buildings %}
                <li class="mrg">
                    <p><span class="large">Sketch:</span></p>
                    <img src="data:image/jpeg;base64, {{ building.get_sketch() }}" />
                    <div class="tables mrg-bot">
                        <table cellpadding="20" cellspacing="0" align="center" width="70%" border="1">
                            <tr align="center">
                                <td colspan="100%" class="large">Elements</td>
                            </tr>
                            {% for element in building.elements %}
                            <tr align="center">
                                <td>{{ element.name }}</td>
                                <td>{{ element.value }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                        <table cellpadding="20" cellspacing="0" align="center" width="70%" border="1">
                            <tr align="center">
                                <td colspan="100%" class="large">Footages</td>
                            </tr>
                            {% for footage in building.footages %}
                            <tr align="center">
                                <td>{{ footage.name }}</td>
                                <td>{{ footage.value }}</td>
                            </tr>
                            {% endfor %}
                            <tr align="right">
                                <td colspan="100%">Total footage: {{ building.total_footage }}</td>
                            </tr>
                            <tr align="right">
                                <td colspan="100%">Total Under Air: {{ building.total_under_air }}</td>
                            </tr>
                        </table>
                    </div>
                </li>
                {% endfor %}
            </ol>

            <hr>

            <h1 class="mrg-bot">Extras</h1>
            <ol class="extras mrg">
                {% for extra in a_property.extras %}
                <li>
                    <b>Name</b>: {{ extra.name }},
                    <b>Units</b>: {{ extra.units }}, <b>Year built</b>: {{ extra.year_built }}
                </li>
                {% endfor %}
            </ol>

            <hr>

            <h1 class="mrg-bot">Owners </h1>
            <ol class="owners mrg">
                {% for owner in a_property.owners %}
                <li>
                    {{ owner.name }}
                </li>
                {% endfor %}
            </ol>

            <hr>

            <h1 class="mrg-bot">Sales</h1>

            <table cellpadding="20" cellspacing="0" align="center" width="100%" border="1" class="mrg-bot">
                <tr>
                    <th>Owner</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Oris</th>
                </tr>
                {% for sale in a_property.sales %}
                <tr align="center">
                    <td>{{ sale.owner }}</td>
                    <td>{{ sale.date }}</td>
                    <td>{{ sale.price }}</td>
                    <td>{{ sale.sale_type }}</td>
                    <td>{{ sale.oris_records_book }}/{{ sale.oris_records_page }}</td>
                </tr>
                {% endfor %}
            </table>

            <hr>

            <h1 class="mrg-bot">Taxes</h1>

            <table cellpadding="20" cellspacing="0" align="center" width="100%" border="1">
                <tr align="center">
                    <td colspan="100%" class="large">Appraisels</td>
                </tr>
                <tr>
                    <th>Tax Year</th>
                    {% for tax in a_property.taxes %}
                    <th>{{ tax.year }}</th>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Improvement Value</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.improvement_value) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Land Value</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.land_value) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Total Market Value</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.improvement_value + tax.land_value) }}</td>
                    {% endfor %}
                </tr>

                <tr align="center" class="large">
                    <td colspan="100%"> Assessed and Taxable Values </td>
                </tr>
                <tr>
                    <th>Tax Year</th>
                    {% for tax in a_property.taxes %}
                    <th>{{ tax.year }}</th>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Assessed Value</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.assessed_value) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Exemption Amount</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.exemption_amount) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Taxable Value</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.assessed_value - tax.exemption_amount) }}</td>
                    {% endfor %}
                </tr>

                <tr align="center" class="large">
                    <td colspan="100%">Taxes</td>
                </tr>
                <tr>
                    <th>Tax Year</th>
                    {% for tax in a_property.taxes %}
                    <th>{{ tax.year }}</th>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Ad Valorem</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.ad_valorem) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Non Ad Valorem</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.non_ad_valorem) }}</td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Total Tax</td>
                    {% for tax in a_property.taxes %}
                    <td>{{ "$%.2f" | format(tax.ad_valorem + tax.non_ad_valorem) }}</td>
                    {% endfor %}
                </tr>

                <tr align="center" class="large">
                    <td colspan="100%">Tax Bills</td>
                </tr>
                <tr>
                    <th>Tax Year</th>
                    {% for tax in a_property.taxes %}
                    <th>{{ tax.year }}</th>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Amount Due</td>
                    {% for tax in a_property.taxes %}
                        <td>$
                            {% if tax.amount_due %}
                                {{ "%.2f" | format(tax.amount_due) }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Discount</td>
                    {% for tax in a_property.taxes %}
                        <td>$
                            {% if tax.discount %}
                                {{ "%.2f" | format(tax.discount) }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Interest</td>
                    {% for tax in a_property.taxes %}
                        <td>$
                            {% if tax.interest %}
                                {{ "%.2f" | format(tax.interest) }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr align="center">
                    <td>Penalty</td>
                    {% for tax in a_property.taxes %}
                        <td>$
                            {% if tax.penalty %}
                                {{ "%.2f" | format(tax.penalty) }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
            <h2>Zestimate</h2>
            <p><span class="large">Amount: </span>{{ a_property.zillow.zestimate_amount }}</p>
            <p><span class="large">Last Updated: </span>{{ a_property.zillow.zestimate_last_updated }}</p>
            <p><span class="large">Value Change: </span>{{ a_property.zillow.zestimate_value_change }}</p>
            <p><span class="large">Value Change Duration: </span>{{ a_property.zillow.zestimate_value_change_duration
                }}</p>
            <p><span class="large">Valuation Range Low: </span>{{ a_property.zillow.zestimate_valuation_range_low }}</p>
            <p><span class="large">Valuation Range High: </span>{{ a_property.zillow.zestimate_valuation_range_high }}</p>
            <p><span class="large">Percentile: </span>{{ a_property.zillow.zestimate_percentile }}</p>

            <h2>Rent Zestimate</h2>
            <p><span class="large">Amount: </span>{{ a_property.zillow.rent_zestimate_amount }}</p>
            <p><span class="large">Last Updated: </span>{{ a_property.zillow.rent_zestimate_last_updated }}</p>
            <p><span class="large">Value Change: </span>{{ a_property.zillow.rent_zestimate_value_change }}</p>
            <p><span class="large">Value Change Duration: </span>{{
                a_property.zillow.rent_zestimate_value_change_duration }}</p>
            <p><span class="large">Valuation Range Low: </span>{{ a_property.zillow.rent_zestimate_valuation_range_low
                }}</p>
            <p><span class="large">Valuation Range High: </span>{{
                a_property.zillow.rent_zestimate_valuation_range_high }}</p>
            <p><span class="large">Percentile: </span>{{ a_property.zillow.rent_zestimate_percentile }}</p>

            <h2>Links</h2>
            <p><span class="large">Home Details: </span>{{ a_property.zillow.link_home_details }}</p>
            <p><span class="large">Home Graph: </span>{{ a_property.zillow.link_home_graph }}</p>
            <p><span class="large">Home Map: </span>{{ a_property.zillow.link_home_map }}</p>
            <p><span class="large">Home Comparables: </span>{{ a_property.zillow.link_home_comparables }}</p>
            <p><span class="large">Region Overview: </span>{{ a_property.zillow.link_region_overview }}</p>
            <p><span class="large">Region ForSale by owner: </span>{{ a_property.zillow.link_region_forsale_owner }}</p>
            <p><span class="large">Region ForSale: </span>{{ a_property.zillow.link_region_forsale }}</p>

            <h2>Documents</h2>
            {% for document in documents %}
            <p><span class="large">Doc ID: </span>{{ document.doc_id }}</p>
            <p><span class="large">File Num: </span>{{ document.file_num }}</p>
            <p><span class="large">Type: </span>{{ document.dtype }}</p>
            <p><span class="large">Datetime: </span>{{ document.datetime }}</p>
            <p><span class="large">CFN: </span>{{ document.cfn }}</p>
            <p><span class="large">Book Type: </span>{{ document.book_type }}</p>
            <p><span class="large">Book: </span>{{ document.book }}</p>
            <p><span class="large">Page: </span>{{ document.page }}</p>
            <p><span class="large">Pages: </span>{{ document.pages }}</p>
            <p><span class="large">Consideration: </span>${{ document.consideration }}</p>
            <p><span class="large">Legal: </span>{{ document.legal }}</p>
            {% for party in document.party_1 %}
            <p><span class="large">Party 1: </span>{{ party.name }}</p>
            {% endfor %}
            {% for party in document.party_2 %}
            <p><span class="large">Party 2: </span>{{ party.name }}</p>
            {% endfor %}
            {% if document.pdf is none %}
            <p><span class="large" style="color:red">No PDF</span></p>
            {% endif %}
            <hr />
            {% endfor %}
        </div>
    </div>
</body>

</html>